/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styles */
  header {
    background-color: green;
    padding: 20px;
    color: #fff;
  }
  
  .logo a {
    color: #fdfffe;
    font-weight: bold;
    text-decoration:wavy;
  }
  
  .nav-links {
    list-style:none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration:underline;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
  }
  
  /* Hero section styles */
  .hero {
    background-image: url('engineering-team-wind-turbine-solar-260nw-1977851672\ \(1\).webp');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #122702;
    text-align: center;
  }
  
  .hero-content {
    max-width: 900px;
    margin: 0 auto;
  }
  
  /* About section styles */
  .about {
    padding: 40px 0;
    background-color: #f2f2f2;
  }
  
  .about h2 {
    margin-bottom: 20px;
  }
  
  /* Footer styles */
  footer {
    background-color: green;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  